#navbar {
  /* background-color: aqua; */
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 3;
  font-size: 12px;
  display: flex;
  #navleft {
    width: 65%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    #home-logo{
      height: 30px;
    }
  }

#navright {
    width: 35%;
    text-align: justify;
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 20px;
    .navbar-right-block {
      display: flex;
      width: 100%;
      text-align: center;
      justify-content: center;
      user-select: none;
      
    }
    #right-icon{
      height: 30px;
    }
    .navbar-right-block.textwhite{
      color:white;
    }
    .blockborder {
      border-right: solid 1px;
    }
  }
}
.greenbackground{
  background-color: #B5CDA3;
}
.whitebackground{
  background-color: #FFF;
}
