html {
  scroll-behavior: smooth;
}

body {
  border: none;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


#main01 {
  position: relative;
  display: flex;
  grid-template-rows: repeat(12,1fr);
  img{
    grid-row: 1/13;
    height:100%;
    width:100%;
  }
}

#main02 {
  display: flex;
  img{
    height: 100%;
    width: 100%;
  }
  #main02bar {
    /* Head */
    position: absolute;
    width: 1920px;
    height: 55px;
    left: 0px;
    top: 2383px;
    background: #000000;
  }
}
#main03 {
  display: flex;
  img{
    height: 100%;
    width: 100%;
  }
}
#main4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
  }
}
#page-bottom{
  width: 100%;
  height: 80px;
  background: #c1ac95;
}




#contact-main-frame{
  width: 60%;
  height: 800px;
  margin-top: 100px;
  margin-bottom: 100px;
  grid-template-rows: repeat(8,1fr);
  gap: 20px;
  display: grid;
  justify-content: center;
  #contact-title{
    grid-row: 1;
    text-Align: center;
    font-Size: 50px;
  }
  #contact-subtitle{
    grid-row: 2;
    text-Align: left;
    font-Size: 20px;
    font-Family: bold;
    margin-Top: 50px;
  }
  .textarea{
    margin-Top:20px;
    width:730px;
    height:50px;
    padding:10px;
    #tx-name{
      grid-row: 3;
    }
    #tx-company{
      grid-row: 4;
    }
    #tx-mail{
      grid-row: 5;
    }
    #tx-quest{
      grid-row: 6;
    }
  }
  .higher-textarea{
    height: 150px;
  }
  #button-align{
    grid-row: 7px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    #save-button{
      grid-row: 7;
      margin-Top:20px;
      width:150px;
      height:80px;
      text-Align:center;
      vertical-Align:middle;
      align-items: center;
      font-Size:30px;
      background:#C1AC95;
      border:none;
      border-Radius:15px;
      color:#FFF;
      font-Weight:bold;
    }
  }
}